# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / RN
.expo/
.expo-shared/
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision

# OS
.DS_Store
Thumbs.db

# Env
.env
app/.env
functions/.env
runtimeconfig.json
.firebase/

# Firebase
.firebase
.firebaserc

# Build outputs
build/
dist/
functions/lib/
app/android/
app/ios/
